body.landing-page {
  .btn {
    @include button-hover;
    border-radius: 4px;
    position: relative;
    font-size: 1em;
    z-index: 1;
    border: none;

    &.btn-primary {
      &:before {
        background-color: lighten($tertiary,15%);
      }

      &:after {
         background-color: $tertiary;
      }
    }
  }

  .btn-cta {
    box-shadow: $item-shadow;
  }

  .btn-icon {
    border: none;

    .d-icon {
      height: 1em;
      width: 1em;
    }
  }

  label.updated {
    position: absolute;
    right: -25px;
    top: -15px;
    z-index: 3;
    padding: 2px 6px;
    background-color: $danger;
    color: $secondary;
    box-shadow: $item-shadow;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.1em;
  }

  label.highlight {
    background-color: $highlight;
    border-radius: 4px;
    padding: 3px 6px;
    cursor: pointer;
  }

  .btn-fixed {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 2em;
    border-radius: 2em;
    padding: 1em;
    box-shadow: shadow("card");
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
    box-sizing: border-box;

    .fixed-avatar,
    .fixed-icon {
      width: 30px;
      height: 30px;
    }

    .fixed-avatar {
      border-radius: 50%;
    }

    .fixed-user {
      padding: 0.1em 0 0 0.4em
    }

    .fixed-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .fixed-label {
      margin-left: .5em;
      font-weight: 800;
    }
  }

  .btn-blog {
    @extend .btn-fixed;
    left: 1.75em;

    .d-icon {
      fill: $secondary;
    }

    &:after {
      background-color: $primary;
    }

    &:before {
      background-color: darken($primary, 15%);
    }

    .fixed-label {
      color: $secondary;
    }

    .fixed-icon svg {
      height: 80%;
      width: 80%;
    }
  }

  .btn-subscribe {
    @extend .btn-fixed;
    color: $primary-very-low;
    right: 1.75em;

    &:after {
      background-color: #6cbe45;
    }

    &:before {
      background-color: darken(#6cbe45, 15%);
    }

    .fixed-icon {
      svg {
        fill: $secondary;
      }
    }
  }
}
