body.landing-page {
  landing-footer {
		display: none !important;
    width: 100vw;
    max-width: 100%;
    background: $tertiary;
    color: $secondary;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}

.footer-left {
  .text {
    line-height: 30px;
  }

	img{
		width: 100% !important;
	}
}
