body.landing-page header.landing-header {
  height: 9em;
  
  .contents {
    padding: 3em 6.25em 0;
    align-items: flex-start;

    .panel {
      padding-top: 0.9em;
    }
  }
}

body.landing-page .primary-description h2 {
  font-size: 1.7rem;
}