body.landing-page header.landing-header {
  height: 6em;
  display: none;
	background: none;

	a.primary-item-link:hover{
		color: #1ABC9C;
	}

	.header-title{
		margin-top: 0.5em;
		background-color: #ffffff6B;
    border-radius: 40px;
	}

  .contents {
    /*padding: 3em 6.25em 0;*/
    align-items: flex-start;
		border-bottom: 1px solid white;

		.menu{
			margin-top: 0em;
		}

    .panel {
      padding-top: 0em;
			margin-top: 1em;
    }
  }
}

body.landing-page .primary-description h2 {
  font-size: 1.7rem;
}
