.lottie {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;

  &.title,
  &.contact {
    height: 200px;
  }

  &.scene {
    width: 600px;
  }

  &.scene.shakuro {
    width: 700px;
  }

  &.scene.small {
    transform: scale(1.1);
  }

  &.scene.medium {
    transform: scale(1.2);
  }

  &.scene.large {
    transform: scale(1.5);
  }
}
