.menu-dropdown {
  flex-wrap: wrap;

  .item {
    div.image {
      width: 50px;
      height: 50px;
      min-width: 50px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    // .customisations div.image {
    //   background-image: url($puzzle-icon);
    // }
    // .support div.image {
    //   background-image: url($lifebuoy);
    // }
    .members div.image {
      background-image: url($member);
    }
    .community div.image {
      background-image: url($community);
    }
    // .join div.image {
    //   background-image: url($raise-hand);
    // }
    // .education div.image {
    //   background-image: url($student);
    // }
    // .blog div.image {
    //   background-image: url($gallery);
    // }
    // .consulting div.image {
    //   background-image: url($graph);
    // }
		.rewards div.image{
			background-image: url($rewards);
		}
		.rules div.image{
			background-image: url($rules);
		}
		.faq div.image{
			background-image: url($faq);
		}
		.glossary div.image{
			background-image: url($glossary);
		}
		.calendar div.image{
			background-image: url($calendar);
		}

    &:not(.coming-soon) .label {
      display: inline-block;
      background-image: linear-gradient(180deg, transparent 90%, $tertiary 0);
      background-size: 0 100%;
      background-repeat: no-repeat;
      text-decoration: none;
      color: $primary;
      transition: background-size .4s ease;
    }

    &:not(.coming-soon):hover .label {
      background-size: 100% 100%;
      cursor: pointer;
    }

    .description {
      font-size: 0.85em;
    }
  }
}
