@import "variables";

.page {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  border-bottom: 1px solid #dbd9d2;

	ul.item-list .item:hover{
		box-shadow: 5px 5px 5px #ffffff78;
	}

	&.parallax{
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

  &.landing {
    /* padding: 9em 0 0 0; */
    margin: 0;
    border-top: none;
		background-image: url($landing-scene);
		background-color: rgba(29, 29, 31, 0.95);
		color: white;

    // .container {
    //   margin-bottom: 9em;
    // }

    .title-container {
      width: 1000px;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
			text-align: center;
    }

    .secondary-text {
      margin-bottom: 0;
			color:white;
			text-align: center;
			font-weight:bold;
    }

    .platform-shortlist {
      margin-top: 2em;
    }
  }

  .page-top {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
  }

  .form-container {
    position: relative;
    width: 400px;

    form {
      position: absolute;
      top: 15px;
      left: 0;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 10px;
    }

    .btn {
      font-size: 1.3em;
    }
  }

	&.grey {
		background-color: #fafafa;
		color: #000000;
	}

	.club-scene{
		content: url($club-scene);
		max-width: 100%;
	}

	.glossary-scene{
		content: url($glossary-scene);
		max-width: 100%;
	}

	.faq-scene{
		content: url($faq-scene);
		max-width: 100%;
	}

	.resources-scene{
		content: url($resources-scene);
		max-width: 100%;
	}

	// .calendar-scene{
	// 	background-image: url($calendar-scene);
	// }

	.profile-scene{
		content: url($data-scene);
		max-width: 100%;
	}

	&.latest-news{
		background-image: url($latest-news-scene);
		background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
		color: white;
		padding: 3em;

		.latest-news-item{
			display: flex;
			margin: 10px;
			flex-basis: 0;
			flex-grow: 1;
			text-align: left;
		}

		.text-container{
			width: 100% !important;
		}

		.item:hover{
			box-shadow: 0px 0px 30px white !important;
		}

		.latest-news-date{
			border-bottom: 1px solid #0000006B;
			margin-bottom: 0.5em;
			line-height: 1.5em;
			display: inline-flex;
			width: 100%;
			align-items: center;
		}

		.latest-news-title{
			font-size:1.5em;
			margin-bottom: 0.5em;
			line-height: 1.5em;
			display: inline-flex;
			width: 100%;
			align-items: center;
		}
	}
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 1.1px;
  width: 700px;
  margin-bottom: 3em;

	.item-list{
		display: flex !important;
		flex-direction: row !important;
	}

	@media (max-width: 700px){
		.item-list{
			flex-direction: column !important;
		}
	}

  .primary-text {
    font-size: 2.5em;
  }

  .secondary-text {
    font-size: 1.5em;
    text-align: justify;

    ul {
      padding-left: 2em;
      text-align: left;
      list-style-type: none;

      li {
        padding-left: 2em;
        background-image: url($chevron-right);
        background-position: 0 0;
        background-size: 1.6em 1.6em;
        background-repeat: no-repeat;
        margin: 0.5em 0;
      }

      .list-item-divider {
        padding: 1em 2em;
        display: inline-block;
      }
    }
  }

  a:not(.btn) {
    /*background-image: linear-gradient(180deg, transparent 95%, $tertiary 0);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.scene-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 600px;

  .lottie {
    display: table;
  }
}
