.page {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  border-bottom: 1px solid #dbd9d2;

  &.landing {
    padding: 9em 0 0 0;
    margin: 0;
    border-top: none;
		background-image: url(https://uploads-ssl.webflow.com/60f6a475825900817ddb3b2a/6159faa1ad04b54c80146a0e_landingpicture.png);
		background-color: rgba(29, 29, 31, 0.95);
		color: white;

    // .container {
    //   margin-bottom: 9em;
    // }

    .title-container {
      width: 1000px;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
			text-align: center;
    }

    .secondary-text {
      margin-bottom: 0;
			color:white;
			text-align: center;
			font-weight:bold;
    }

    .platform-shortlist {
      margin-top: 2em;
    }
  }

  .page-top {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
  }

  .form-container {
    position: relative;
    width: 400px;

    form {
      position: absolute;
      top: 15px;
      left: 0;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 10px;
    }

    .btn {
      font-size: 1.3em;
    }
  }

	&.odd {
		background-color: $tertiary;
		color: $secondary;
	}

  &.first {
    background-color: $tertiary;
		color: $secondary;
  }

  &.second {
    background-color: $landing-light-gold;
  }

  &.third {
    background-color: $landing-light-blue;
  }

  &.fourth {
    background-color: $landing-light-gold;
  }

  &.fifth {
    background-color: $landing-light-blue;
  }

	&.club-scene{
		background-image: url($club-scene);
	}

	&.news-scene{
		background-image: url($news-scene);
	}

	&.data-scene{
		background-image: url($data-scene);
	}

	&.ressources-scene{
		background-image: url($ressources-scene);
	}
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 1.1px;
  width: 700px;
  margin-bottom: 3em;

  .primary-text {
    font-size: 2.5em;
  }

  .secondary-text {
    font-size: 1.5em;
    text-align: justify;

    ul {
      padding-left: 2em;
      text-align: left;
      list-style-type: none;

      li {
        padding-left: 2em;
        background-image: url($chevron-right);
        background-position: 0 0;
        background-size: 1.6em 1.6em;
        background-repeat: no-repeat;
        margin: 0.5em 0;
      }

      .list-item-divider {
        padding: 1em 2em;
        display: inline-block;
      }
    }
  }

  a:not(.btn) {
    /*background-image: linear-gradient(180deg, transparent 95%, $tertiary 0);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.scene-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 600px;

  .lottie {
    display: table;
  }
}
