body.welcome {
  .landing.page {
    .title-container {
      min-height: 160px;
      margin-top: 3em;
    }
  }

	&.landing{
		background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url($leadership-banner);
	}
}
