@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "variables";
@import "utils";
@import "images";
@import "buttons";
@import "foundation";
@import "menu";
@import "header";
@import "footer";
@import "contact-form";
@import "platforms";
@import "pages/page";
@import "pages/software";
@import "pages/product";
@import "pages/blog";
@import "pages/blog-post";
@import "pages/support";
@import "pages/members";
@import "pages/join";
@import "pages/about";
@import "pages/welcome";
